<!DOCTYPE html>
<html>
       <head>
              <title>{{ page.title }}</title>
              <link rel="stylesheet" type="text/css" href="/css/main.css">
       </head>
       <body>
              <nav>
                      <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/blog">Blog</a></li>
                      </ul>
              </nav>
              <div class="container"> 
              
              {{ content }} 
              <img>  https://www.google.com/url?sa=i&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FFirefox&psig=AOvVaw1RIS86Cz6dPpzFwSXWZk1i&ust=1633499065621000&source=images&cd=vfe&ved=0CAkQjRxqFwoTCIi5tq_IsvMCFQAAAAAdAAAAABAD </img>
              
              </div>
              <footer>
                       <ul>
                       <li><a href="https://github.com/weblabtutorial">github.com/weblabtutorial</a></li>
                       <li><a href="https://weblabtutorial.github.io"> weblabtutorial.github.io </a></li>
                       </ul>
              </footer>
       </body>
</html>
